.forgot-password-container {
  display: flex;
  height: 100vh;
}
.forgot-password-container .left {
  width: 60%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-password-container .left svg {
  width: 95%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.forgot-password-container .right {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  padding-left: 3rem;
  align-items: center;
  background-color: #4482ff;
  color: #fff;
  height: 100%;
}
.forgot-password-container .right .forgot-password-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.forgot-password-container .right .forgot-password-caption {
  text-align: center;
  margin-bottom: 3rem;
}
.forgot-password-container .right .forgot-password-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.25rem;
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container .forgot-password-label {
  margin-bottom: 0.75rem;
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container .forgot-password-input {
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  outline: none;
  border: 1px solid #ced0d3;
  transition: all 0.3s ease;
  position: relative;
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container .forgot-password-input:hover:not(.error) {
  border-color: #0f0f2c;
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container .forgot-password-input:focus:not(.error) {
  border-color: #0f0f2c;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
.forgot-password-container .right .forgot-password-form .forgot-password-input-container .error {
  border-color: #f04340;
  animation: shake 0.1635s 0s 3;
}
.forgot-password-container .right .forgot-password-form .forgot-password-btn {
  margin-top: 3rem;
  width: 80%;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  outline: none;
  background-color: #0f0f2c;
  color: #fff;
  border: none;
  cursor: pointer;
}
.forgot-password-container .right .forgot-password-error {
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #f04340;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f04340;
}
.forgot-password-container .right .forgot-password-confirmation {
  margin: 5rem 0;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #2ac46a;
  background-color: rgba(0, 0, 0, 0.5);
  color: #2ac46a;
  text-align: center;
  width: 80%;
  line-height: 1.3;
}

.signin-link {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=forgotPassword.css.map */