@import "../defaults/colors";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");

.reset-password-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .reset-password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        padding: 2rem;
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 0.25rem 0 0 0.25rem;
        width: 50%;
        position: relative;

        .heading {
            font-size: 2rem;
            font-family: "Playfair Display";
            font-style: italic;
        }

        .reset-password-input-container {
            margin: 2rem 0;
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 2rem 1rem;
            align-items: center;
            position: relative;
            width: 100%;

            .reset-password-input-label {
                margin-right: 1.25rem;
                font-size: 1.05rem;
                font-weight: 600;
                text-align: right;
            }

            .reset-password-input-wrapper {
                position: relative;
                width: 100%;
            }

            .reset-password-input {
                padding: 0.5rem 0.5rem;
                border-radius: 0.25rem;
                border: 1px solid #d8d8d8;
                transition: all 0.3s ease-out;
                position: relative;
                width: 100%;

                &:hover:not(.error) {
                    border-color: $blue-400;
                }

                &:focus:not(.error) {
                    border-color: $sky-blue;
                }
            }

            @keyframes shake {
                0% {
                    transform: translateX(0);
                }
                25% {
                    transform: translateX(8px);
                }
                75% {
                    transform: translateX(-8px);
                }
                100% {
                    transform: translateX(0);
                }
            }

            .error {
                border-color: $red;
                animation: shake 0.1635s 0s 3;
            }
        }

        .reset-password-error-container {
            margin-top: 2rem;
            color: $red;
            height: 4rem;

            li {
                margin-bottom: 1rem;
            }
        }

        .reset-password-btn {
            width: 30%;
            margin-top: 2rem;
            padding: 0.75rem 1rem;
            border: 1px solid $sky-blue;
            background-color: #fff;
            color: $sky-blue;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            position: absolute;
            bottom: 2rem;

            &:hover {
                background-color: $sky-blue;
                color: #fff;
                border-color: #fff;
            }
        }

        .reset-password-error-container {
            margin-top: 2rem;
            color: $red;
            height: 4rem;

            li {
                margin-bottom: 1rem;
            }
        }

        .password-show-button {
            background-color: transparent;
            position: absolute;
            top: 22%;
            right: 6px;
            padding: 4px 10px;
            color: $sky-blue;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin: 0 !important;
        }
    }
}

.reset-password-confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .reset-password-confirm-content {
        background-color: #fff;
        padding: 2.5rem;
        border: 1px solid #dddddd;
        border-radius: 0.25rem 0 0 0.25rem;
        width: 35%;
        display: flex;
        flex-direction: column;
        text-align: center;

        .confirmation-heading {
            font-size: 1.75rem;
            font-weight: 500;
        }

        .confirmation-body {
            margin-top: 3rem;
            font-size: 1.25rem;
            letter-spacing: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .confirmation-link {
                margin-top: 3rem;
                letter-spacing: normal;
                background-color: $sky-blue;
                padding: 0.75rem 0.5rem;
                width: 30%;
                color: #fff;
            }
        }
    }
}
