<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hey, you are receiving this because you (or someone else) requested
            the reset of "{{name}}" socialize account.</p>
        <p>Please click on the following link, or paste this in your browser to
            complete the process.</p>
        <p> {{link}}</p>
        <p>If you received this in error, you can safely ignore it.</p>
        <p>You can reply to this message if you have any questions.</p>
        <p>Regards,
            <br />
            Socialize
        </p>
    </body>
</html>