$dark-blue: #0f0f2c;
$grey: #7d8497;
$green: #2ac46a;
$light: #e9ecf2;
$red: #ef5350;
$red-2: #f04340;
$red-dark: #f44336;
$red-dark2: #a73a38;
$sky-blue: #4482ff;
$blue: #1976d2;
$light-blue: #bbdefb;
$blue-400: #78b3e4;
